.ticket-content-container {
	width: 90%;
	border: 1px solid #d7dcf8;
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* margin-bottom: 4rem; */
}

.info-title {
	font-family: 'Syne';
	font-weight: 600;
	font-size: 1.5rem;
	color: #2c3c90;
	margin-bottom: 8px;
}

.badge {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	width: 84px;
	height: 40px;
	background: #fef1e7;
	border-radius: 20px;
	color: #f59139;
	font-weight: 400;
	font-size: 12px;
}

.ticket-detail-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.ticket-detail-content p span:first-of-type {
	font-weight: 600;
	font-size: 16px;
	color: #1a1a38;
}