.input-container {
	display: flex;
	flex-direction: column;
}

.input-container label {
	font-weight: 500;
	font-size: 1rem;
	color: #000000;
}

.input-container input {
	background: #f5f6f6;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 0.5rem;
	height: 3.5rem;
	padding: 1rem;
}

label{
	padding-bottom: 4px;
}